Original data from https://github.com/fivethirtyeight/data/tree/master/college-majors

Prepared database from Dataquest.io (https://www.dataquest.io)

In [48]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import cm
import random
%matplotlib inline

In [49]:
#Connect to database, which has one table recent_grads
db = 'jobs.db'
conn=sqlite3.connect(db)
# Creating cursor object, which execute SQL queries in a database
cur = conn.cursor()

In [50]:
cur.execute("select * from recent_grads limit 5;")
results = cur.fetchall()
print(results)

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50), (2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0), (3, 4, 2417, 'NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering', 1258, 16, 1123, 135, 0.107313196, 758, 1069, 150, 692, 40, 0.050125313, 70000, 43000, 80000, 529, 102, 0), (4, 5, 2405, 'CHEMICAL ENGINEERING', 'Engineering', 32260, 289, 21239, 11021, 0.341630502, 25694, 23170, 5180, 16697, 1672, 0.061097712, 65000, 50000, 75000, 18314, 4440, 972)]

Read data from database and return a Pandas dataframe, which can look nicer and be easier to work with

In [51]:
df = pd.read_sql_query("select * from recent_grads;", conn)
print(df.shape)
df

(173, 22)

,index,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
5,5,6,2418,NUCLEAR ENGINEERING,Engineering,2573,17,2200,373,0.144967,...,264,1449,400,0.177226,65000,50000,102000,1142,657,244
6,6,7,6202,ACTUARIAL SCIENCE,Business,3777,51,832,960,0.535714,...,296,2482,308,0.095652,62000,53000,72000,1768,314,259
7,7,8,5001,ASTRONOMY AND ASTROPHYSICS,Physical Sciences,1792,10,2110,1667,0.441356,...,553,827,33,0.021167,62000,31500,109000,972,500,220
8,8,9,2414,MECHANICAL ENGINEERING,Engineering,91227,1029,12953,2105,0.139793,...,13101,54639,4650,0.057342,60000,48000,70000,52844,16384,3253
9,9,10,2408,ELECTRICAL ENGINEERING,Engineering,81527,631,8407,6548,0.437847,...,12695,41413,3895,0.059174,60000,45000,72000,45829,10874,3170
10,10,11,2407,COMPUTER ENGINEERING,Engineering,41542,399,33258,8284,0.199413,...,5146,23621,2275,0.065409,60000,45000,75000,23694,5721,980
11,11,12,2401,AEROSPACE ENGINEERING,Engineering,15058,147,65511,16016,0.196450,...,2724,8790,794,0.065162,60000,42000,70000,8184,2425,372
12,12,13,2404,BIOMEDICAL ENGINEERING,Engineering,14955,79,80320,10907,0.119559,...,2694,5986,1019,0.092084,60000,36000,70000,6439,2471,789
13,13,14,5008,MATERIALS SCIENCE,Engineering,4279,22,2949,1330,0.310820,...,878,1967,78,0.023043,60000,39000,65000,2626,391,81
14,14,15,2409,ENGINEERING MECHANICS PHYSICS AND SCIENCE,Engineering,4321,30,3526,795,0.183985,...,811,2004,23,0.006334,58000,25000,74000,2439,947,263
15,15,16,2402,BIOLOGICAL ENGINEERING,Engineering,8925,55,6062,2863,0.320784,...,1983,3413,589,0.087143,57100,40000,76000,3603,1595,524
16,16,17,2412,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering,18968,183,12453,6515,0.343473,...,2243,11326,699,0.042876,57000,37900,67000,8306,3235,640
17,17,18,2400,GENERAL ENGINEERING,Engineering,61152,425,45683,15469,0.252960,...,7199,33540,2859,0.059824,56000,36000,69000,26898,11734,3192
18,18,19,2403,ARCHITECTURAL ENGINEERING,Engineering,2825,26,1835,990,0.350442,...,343,1848,170,0.061931,54000,38000,65000,1665,649,137
19,19,20,3201,COURT REPORTING,Law & Public Policy,1148,14,877,271,0.236063,...,223,808,11,0.011690,54000,50000,54000,402,528,144
20,20,21,2102,COMPUTER SCIENCE,Computers & Mathematics,128319,1196,1837,2524,0.578766,...,18726,70932,6884,0.063173,53000,39000,70000,68622,25667,5144
21,21,22,1104,FOOD SCIENCE,Agriculture & Natural Resources,4361,36,99743,28576,0.222695,...,1121,1735,338,0.096931,53000,32000,70000,1183,1274,485
22,22,23,2502,ELECTRICAL ENGINEERING TECHNOLOGY,Engineering,11565,97,2020,973,0.325092,...,1873,5681,824,0.087557,52000,35000,60000,5126,2686,696
23,23,24,2413,MATERIALS ENGINEERING AND MATERIALS SCIENCE,Engineering,2993,22,8181,3384,0.292607,...,1040,1151,70,0.027789,52000,35000,62000,1911,305,70
24,24,25,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,18713,278,13496,5217,0.278790,...,2420,13017,1015,0.058240,51000,38000,60000,6342,5741,708
25,25,26,2406,CIVIL ENGINEERING,Engineering,53153,565,41081,12072,0.227118,...,10080,29196,3270,0.070610,50000,40000,60000,28526,9356,2899
26,26,27,5601,CONSTRUCTION SERVICES,Industrial Arts & Consumer Services,18498,295,2662,1385,0.342229,...,1751,12313,1042,0.060023,50000,36000,60000,3275,5351,703
27,27,28,6204,OPERATIONS LOGISTICS AND E-COMMERCE,Business,11732,156,488,232,0.322222,...,1183,7724,504,0.047859,50000,40000,60000,1466,3629,285
28,28,29,2499,MISCELLANEOUS ENGINEERING,Engineering,9133,118,7398,1735,0.189970,...,1662,5476,597,0.074393,50000,39000,65000,3445,2426,365
29,29,30,5402,PUBLIC POLICY,Law & Public Policy,5978,55,2695,905,0.251389,...,1306,2776,670,0.128426,50000,35000,70000,1550,1871,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,143,144,1105,PLANT SCIENCE AND AGRONOMY,Agriculture & Natural Resources,7416,110,5079,7841,0.606889,...,1246,4522,314,0.045455,32000,22900,40000,2089,3545,1231
144,144,145,2308,SCIENCE AND COMPUTER TEACHER EDUCATION,Education,6483,59,22357,16404,0.423209,...,1227,3247,266,0.047264,32000,28000,39000,4214,1106,591
145,145,146,5200,PSYCHOLOGY,Psychology & Social Work,393735,2584,86648,307087,0.779933,...,115172,174438,28169,0.083811,31500,24000,41000,125148,141860,48207
146,146,147,6002,MUSIC,Arts,60633,419,15670,12543,0.444582,...,24943,21425,3918,0.075960,31000,22300,42000,13752,28786,9286
147,147,148,2306,PHYSICAL AND HEALTH EDUCATION TEACHING,Education,28213,259,29909,30724,0.506721,...,7230,13651,1920,0.074667,31000,24000,40000,12777,9328,2042
148,148,149,6006,ART HISTORY AND CRITICISM,Humanities & Liberal Arts,21030,204,3240,17790,0.845934,...,6140,9965,1128,0.060298,31000,23000,40000,5139,9738,3426
149,149,150,6000,FINE ARTS,Arts,74440,623,24786,49654,0.667034,...,23656,31877,5486,0.084186,30500,21000,41000,20792,32725,11880
150,150,151,2901,FAMILY AND CONSUMER SCIENCES,Industrial Arts & Consumer Services,58001,518,5347,16226,0.752144,...,15872,26906,3355,0.067128,30000,22900,40000,20985,20133,5248
151,151,152,5404,SOCIAL WORK,Psychology & Social Work,53552,374,2734,11709,0.810704,...,13481,27588,3329,0.068828,30000,25000,35000,27449,14416,4344
152,152,153,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,21573,255,5166,52835,0.910933,...,5353,10824,917,0.050862,30000,22000,40000,5443,9571,2125
153,153,154,6003,VISUAL AND PERFORMING ARTS,Arts,16250,132,2013,4639,0.697384,...,6253,6322,1465,0.102197,30000,22000,40000,3849,7635,2840
154,154,155,2312,TEACHER EDUCATION: MULTIPLE LEVELS,Education,14443,142,1936,7692,0.798920,...,2214,8457,496,0.036546,30000,24000,37000,10766,1949,722
155,155,156,5299,MISCELLANEOUS PSYCHOLOGY,Psychology & Social Work,9628,60,885,8489,0.905590,...,3221,3838,419,0.051908,30000,20800,40000,2960,3948,1650
156,156,157,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,Psychology & Social Work,9374,89,5137,48415,0.904075,...,2405,5061,326,0.037819,30000,24000,35000,2878,4595,724
157,157,158,3402,HUMANITIES,Humanities & Liberal Arts,6652,49,4133,12117,0.745662,...,2225,2661,372,0.068584,30000,20000,49000,1168,3354,1141
158,158,159,4901,THEOLOGY AND RELIGIOUS VOCATIONS,Humanities & Liberal Arts,30207,310,404,1084,0.728495,...,8767,13944,1617,0.062628,29000,22000,38000,9927,12037,3304
159,159,160,6007,STUDIO ARTS,Arts,16977,182,4364,6146,0.584776,...,5673,7413,1368,0.089552,29000,19200,38300,3948,8707,3586
160,160,161,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,10510,117,18616,11591,0.383719,...,2064,5949,510,0.055677,29000,20000,36000,563,7384,3163
161,161,162,1199,MISCELLANEOUS AGRICULTURE,Agriculture & Natural Resources,1488,24,4754,12223,0.719974,...,335,936,82,0.059767,29000,23000,42100,483,626,31
162,162,163,5502,ANTHROPOLOGY AND ARCHEOLOGY,Humanities & Liberal Arts,38844,247,1167,36422,0.968954,...,14515,13232,3395,0.102792,28000,20000,38000,9805,16693,6866
163,163,164,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,Health,38279,95,11376,27468,0.707136,...,13862,14460,1487,0.047584,28000,20000,40000,19957,9404,5125
164,164,165,2307,EARLY CHILDHOOD EDUCATION,Education,37589,342,1225,37054,0.967998,...,7001,20748,1360,0.040105,28000,21000,35000,23515,7705,2868
165,165,166,2603,OTHER FOREIGN LANGUAGES,Humanities & Liberal Arts,11204,56,3472,7732,0.690111,...,3685,3214,846,0.107116,27500,22900,38000,2326,3703,1115
166,166,167,6001,DRAMA AND THEATER ARTS,Arts,43249,357,7022,11931,0.629505,...,15994,16891,3040,0.077541,27000,19200,35000,6994,25313,11068
167,167,168,3302,COMPOSITION AND RHETORIC,Humanities & Liberal Arts,18953,151,14440,28809,0.666119,...,6612,7832,1340,0.081742,27000,20000,35000,4855,8100,3466
168,168,169,3609,ZOOLOGY,Biology & Life Science,8409,47,3050,5359,0.637293,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,169,170,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854,7,522,2332,0.817099,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,170,171,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838,13,568,2270,0.799859,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,171,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626,21,931,3695,0.798746,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,172,173,3501,LIBRARY SCIENCE,Education,1098,2,134,964,0.877960,...,237,410,87,0.104946,22000,20000,22000,288,338,192

Inserting rows

In [52]:
cur.execute("INSERT INTO recent_grads values (null, null, '9000', 'SPACE ENGINEERING', 'Engineering', null, null, null, null,null, null,null, null, null, null,null, null, null, null,null, null, null)")
pd.read_sql_query("SELECT * FROM recent_grads ;", conn)

,index,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,0.0,1.0,2419,PETROLEUM ENGINEERING,Engineering,2339.0,36.0,2057.0,282.0,0.120564,...,270.0,1207.0,37.0,0.018381,110000.0,95000.0,125000.0,1534.0,364.0,193.0
1,1.0,2.0,2416,MINING AND MINERAL ENGINEERING,Engineering,756.0,7.0,679.0,77.0,0.101852,...,170.0,388.0,85.0,0.117241,75000.0,55000.0,90000.0,350.0,257.0,50.0
2,2.0,3.0,2415,METALLURGICAL ENGINEERING,Engineering,856.0,3.0,725.0,131.0,0.153037,...,133.0,340.0,16.0,0.024096,73000.0,50000.0,105000.0,456.0,176.0,0.0
3,3.0,4.0,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258.0,16.0,1123.0,135.0,0.107313,...,150.0,692.0,40.0,0.050125,70000.0,43000.0,80000.0,529.0,102.0,0.0
4,4.0,5.0,2405,CHEMICAL ENGINEERING,Engineering,32260.0,289.0,21239.0,11021.0,0.341631,...,5180.0,16697.0,1672.0,0.061098,65000.0,50000.0,75000.0,18314.0,4440.0,972.0
5,5.0,6.0,2418,NUCLEAR ENGINEERING,Engineering,2573.0,17.0,2200.0,373.0,0.144967,...,264.0,1449.0,400.0,0.177226,65000.0,50000.0,102000.0,1142.0,657.0,244.0
6,6.0,7.0,6202,ACTUARIAL SCIENCE,Business,3777.0,51.0,832.0,960.0,0.535714,...,296.0,2482.0,308.0,0.095652,62000.0,53000.0,72000.0,1768.0,314.0,259.0
7,7.0,8.0,5001,ASTRONOMY AND ASTROPHYSICS,Physical Sciences,1792.0,10.0,2110.0,1667.0,0.441356,...,553.0,827.0,33.0,0.021167,62000.0,31500.0,109000.0,972.0,500.0,220.0
8,8.0,9.0,2414,MECHANICAL ENGINEERING,Engineering,91227.0,1029.0,12953.0,2105.0,0.139793,...,13101.0,54639.0,4650.0,0.057342,60000.0,48000.0,70000.0,52844.0,16384.0,3253.0
9,9.0,10.0,2408,ELECTRICAL ENGINEERING,Engineering,81527.0,631.0,8407.0,6548.0,0.437847,...,12695.0,41413.0,3895.0,0.059174,60000.0,45000.0,72000.0,45829.0,10874.0,3170.0
10,10.0,11.0,2407,COMPUTER ENGINEERING,Engineering,41542.0,399.0,33258.0,8284.0,0.199413,...,5146.0,23621.0,2275.0,0.065409,60000.0,45000.0,75000.0,23694.0,5721.0,980.0
11,11.0,12.0,2401,AEROSPACE ENGINEERING,Engineering,15058.0,147.0,65511.0,16016.0,0.196450,...,2724.0,8790.0,794.0,0.065162,60000.0,42000.0,70000.0,8184.0,2425.0,372.0
12,12.0,13.0,2404,BIOMEDICAL ENGINEERING,Engineering,14955.0,79.0,80320.0,10907.0,0.119559,...,2694.0,5986.0,1019.0,0.092084,60000.0,36000.0,70000.0,6439.0,2471.0,789.0
13,13.0,14.0,5008,MATERIALS SCIENCE,Engineering,4279.0,22.0,2949.0,1330.0,0.310820,...,878.0,1967.0,78.0,0.023043,60000.0,39000.0,65000.0,2626.0,391.0,81.0
14,14.0,15.0,2409,ENGINEERING MECHANICS PHYSICS AND SCIENCE,Engineering,4321.0,30.0,3526.0,795.0,0.183985,...,811.0,2004.0,23.0,0.006334,58000.0,25000.0,74000.0,2439.0,947.0,263.0
15,15.0,16.0,2402,BIOLOGICAL ENGINEERING,Engineering,8925.0,55.0,6062.0,2863.0,0.320784,...,1983.0,3413.0,589.0,0.087143,57100.0,40000.0,76000.0,3603.0,1595.0,524.0
16,16.0,17.0,2412,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering,18968.0,183.0,12453.0,6515.0,0.343473,...,2243.0,11326.0,699.0,0.042876,57000.0,37900.0,67000.0,8306.0,3235.0,640.0
17,17.0,18.0,2400,GENERAL ENGINEERING,Engineering,61152.0,425.0,45683.0,15469.0,0.252960,...,7199.0,33540.0,2859.0,0.059824,56000.0,36000.0,69000.0,26898.0,11734.0,3192.0
18,18.0,19.0,2403,ARCHITECTURAL ENGINEERING,Engineering,2825.0,26.0,1835.0,990.0,0.350442,...,343.0,1848.0,170.0,0.061931,54000.0,38000.0,65000.0,1665.0,649.0,137.0
19,19.0,20.0,3201,COURT REPORTING,Law & Public Policy,1148.0,14.0,877.0,271.0,0.236063,...,223.0,808.0,11.0,0.011690,54000.0,50000.0,54000.0,402.0,528.0,144.0
20,20.0,21.0,2102,COMPUTER SCIENCE,Computers & Mathematics,128319.0,1196.0,1837.0,2524.0,0.578766,...,18726.0,70932.0,6884.0,0.063173,53000.0,39000.0,70000.0,68622.0,25667.0,5144.0
21,21.0,22.0,1104,FOOD SCIENCE,Agriculture & Natural Resources,4361.0,36.0,99743.0,28576.0,0.222695,...,1121.0,1735.0,338.0,0.096931,53000.0,32000.0,70000.0,1183.0,1274.0,485.0
22,22.0,23.0,2502,ELECTRICAL ENGINEERING TECHNOLOGY,Engineering,11565.0,97.0,2020.0,973.0,0.325092,...,1873.0,5681.0,824.0,0.087557,52000.0,35000.0,60000.0,5126.0,2686.0,696.0
23,23.0,24.0,2413,MATERIALS ENGINEERING AND MATERIALS SCIENCE,Engineering,2993.0,22.0,8181.0,3384.0,0.292607,...,1040.0,1151.0,70.0,0.027789,52000.0,35000.0,62000.0,1911.0,305.0,70.0
24,24.0,25.0,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,18713.0,278.0,13496.0,5217.0,0.278790,...,2420.0,13017.0,1015.0,0.058240,51000.0,38000.0,60000.0,6342.0,5741.0,708.0
25,25.0,26.0,2406,CIVIL ENGINEERING,Engineering,53153.0,565.0,41081.0,12072.0,0.227118,...,10080.0,29196.0,3270.0,0.070610,50000.0,40000.0,60000.0,28526.0,9356.0,2899.0
26,26.0,27.0,5601,CONSTRUCTION SERVICES,Industrial Arts & Consumer Services,18498.0,295.0,2662.0,1385.0,0.342229,...,1751.0,12313.0,1042.0,0.060023,50000.0,36000.0,60000.0,3275.0,5351.0,703.0
27,27.0,28.0,6204,OPERATIONS LOGISTICS AND E-COMMERCE,Business,11732.0,156.0,488.0,232.0,0.322222,...,1183.0,7724.0,504.0,0.047859,50000.0,40000.0,60000.0,1466.0,3629.0,285.0
28,28.0,29.0,2499,MISCELLANEOUS ENGINEERING,Engineering,9133.0,118.0,7398.0,1735.0,0.189970,...,1662.0,5476.0,597.0,0.074393,50000.0,39000.0,65000.0,3445.0,2426.0,365.0
29,29.0,30.0,5402,PUBLIC POLICY,Law & Public Policy,5978.0,55.0,2695.0,905.0,0.251389,...,1306.0,2776.0,670.0,0.128426,50000.0,35000.0,70000.0,1550.0,1871.0,340.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,144.0,145.0,2308,SCIENCE AND COMPUTER TEACHER EDUCATION,Education,6483.0,59.0,22357.0,16404.0,0.423209,...,1227.0,3247.0,266.0,0.047264,32000.0,28000.0,39000.0,4214.0,1106.0,591.0
145,145.0,146.0,5200,PSYCHOLOGY,Psychology & Social Work,393735.0,2584.0,86648.0,307087.0,0.779933,...,115172.0,174438.0,28169.0,0.083811,31500.0,24000.0,41000.0,125148.0,141860.0,48207.0
146,146.0,147.0,6002,MUSIC,Arts,60633.0,419.0,15670.0,12543.0,0.444582,...,24943.0,21425.0,3918.0,0.075960,31000.0,22300.0,42000.0,13752.0,28786.0,9286.0
147,147.0,148.0,2306,PHYSICAL AND HEALTH EDUCATION TEACHING,Education,28213.0,259.0,29909.0,30724.0,0.506721,...,7230.0,13651.0,1920.0,0.074667,31000.0,24000.0,40000.0,12777.0,9328.0,2042.0
148,148.0,149.0,6006,ART HISTORY AND CRITICISM,Humanities & Liberal Arts,21030.0,204.0,3240.0,17790.0,0.845934,...,6140.0,9965.0,1128.0,0.060298,31000.0,23000.0,40000.0,5139.0,9738.0,3426.0
149,149.0,150.0,6000,FINE ARTS,Arts,74440.0,623.0,24786.0,49654.0,0.667034,...,23656.0,31877.0,5486.0,0.084186,30500.0,21000.0,41000.0,20792.0,32725.0,11880.0
150,150.0,151.0,2901,FAMILY AND CONSUMER SCIENCES,Industrial Arts & Consumer Services,58001.0,518.0,5347.0,16226.0,0.752144,...,15872.0,26906.0,3355.0,0.067128,30000.0,22900.0,40000.0,20985.0,20133.0,5248.0
151,151.0,152.0,5404,SOCIAL WORK,Psychology & Social Work,53552.0,374.0,2734.0,11709.0,0.810704,...,13481.0,27588.0,3329.0,0.068828,30000.0,25000.0,35000.0,27449.0,14416.0,4344.0
152,152.0,153.0,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,21573.0,255.0,5166.0,52835.0,0.910933,...,5353.0,10824.0,917.0,0.050862,30000.0,22000.0,40000.0,5443.0,9571.0,2125.0
153,153.0,154.0,6003,VISUAL AND PERFORMING ARTS,Arts,16250.0,132.0,2013.0,4639.0,0.697384,...,6253.0,6322.0,1465.0,0.102197,30000.0,22000.0,40000.0,3849.0,7635.0,2840.0
154,154.0,155.0,2312,TEACHER EDUCATION: MULTIPLE LEVELS,Education,14443.0,142.0,1936.0,7692.0,0.798920,...,2214.0,8457.0,496.0,0.036546,30000.0,24000.0,37000.0,10766.0,1949.0,722.0
155,155.0,156.0,5299,MISCELLANEOUS PSYCHOLOGY,Psychology & Social Work,9628.0,60.0,885.0,8489.0,0.905590,...,3221.0,3838.0,419.0,0.051908,30000.0,20800.0,40000.0,2960.0,3948.0,1650.0
156,156.0,157.0,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,Psychology & Social Work,9374.0,89.0,5137.0,48415.0,0.904075,...,2405.0,5061.0,326.0,0.037819,30000.0,24000.0,35000.0,2878.0,4595.0,724.0
157,157.0,158.0,3402,HUMANITIES,Humanities & Liberal Arts,6652.0,49.0,4133.0,12117.0,0.745662,...,2225.0,2661.0,372.0,0.068584,30000.0,20000.0,49000.0,1168.0,3354.0,1141.0
158,158.0,159.0,4901,THEOLOGY AND RELIGIOUS VOCATIONS,Humanities & Liberal Arts,30207.0,310.0,404.0,1084.0,0.728495,...,8767.0,13944.0,1617.0,0.062628,29000.0,22000.0,38000.0,9927.0,12037.0,3304.0
159,159.0,160.0,6007,STUDIO ARTS,Arts,16977.0,182.0,4364.0,6146.0,0.584776,...,5673.0,7413.0,1368.0,0.089552,29000.0,19200.0,38300.0,3948.0,8707.0,3586.0
160,160.0,161.0,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,10510.0,117.0,18616.0,11591.0,0.383719,...,2064.0,5949.0,510.0,0.055677,29000.0,20000.0,36000.0,563.0,7384.0,3163.0
161,161.0,162.0,1199,MISCELLANEOUS AGRICULTURE,Agriculture & Natural Resources,1488.0,24.0,4754.0,12223.0,0.719974,...,335.0,936.0,82.0,0.059767,29000.0,23000.0,42100.0,483.0,626.0,31.0
162,162.0,163.0,5502,ANTHROPOLOGY AND ARCHEOLOGY,Humanities & Liberal Arts,38844.0,247.0,1167.0,36422.0,0.968954,...,14515.0,13232.0,3395.0,0.102792,28000.0,20000.0,38000.0,9805.0,16693.0,6866.0
163,163.0,164.0,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,Health,38279.0,95.0,11376.0,27468.0,0.707136,...,13862.0,14460.0,1487.0,0.047584,28000.0,20000.0,40000.0,19957.0,9404.0,5125.0
164,164.0,165.0,2307,EARLY CHILDHOOD EDUCATION,Education,37589.0,342.0,1225.0,37054.0,0.967998,...,7001.0,20748.0,1360.0,0.040105,28000.0,21000.0,35000.0,23515.0,7705.0,2868.0
165,165.0,166.0,2603,OTHER FOREIGN LANGUAGES,Humanities & Liberal Arts,11204.0,56.0,3472.0,7732.0,0.690111,...,3685.0,3214.0,846.0,0.107116,27500.0,22900.0,38000.0,2326.0,3703.0,1115.0
166,166.0,167.0,6001,DRAMA AND THEATER ARTS,Arts,43249.0,357.0,7022.0,11931.0,0.629505,...,15994.0,16891.0,3040.0,0.077541,27000.0,19200.0,35000.0,6994.0,25313.0,11068.0
167,167.0,168.0,3302,COMPOSITION AND RHETORIC,Humanities & Liberal Arts,18953.0,151.0,14440.0,28809.0,0.666119,...,6612.0,7832.0,1340.0,0.081742,27000.0,20000.0,35000.0,4855.0,8100.0,3466.0
168,168.0,169.0,3609,ZOOLOGY,Biology & Life Science,8409.0,47.0,3050.0,5359.0,0.637293,...,2190.0,3602.0,304.0,0.046320,26000.0,20000.0,39000.0,2771.0,2947.0,743.0
169,169.0,170.0,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854.0,7.0,522.0,2332.0,0.817099,...,572.0,1211.0,148.0,0.065112,25000.0,24000.0,34000.0,1488.0,615.0,82.0
170,170.0,171.0,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838.0,13.0,568.0,2270.0,0.799859,...,648.0,1293.0,368.0,0.149048,25000.0,25000.0,40000.0,986.0,870.0,622.0
171,171.0,172.0,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626.0,21.0,931.0,3695.0,0.798746,...,965.0,2738.0,214.0,0.053621,23400.0,19200.0,26000.0,2403.0,1245.0,308.0
172,172.0,173.0,3501,LIBRARY SCIENCE,Education,1098.0,2.0,134.0,964.0,0.877960,...,237.0,410.0,87.0,0.104946,22000.0,20000.0,22000.0,288.0,338.0,192.0
173,NaN,NaN,9000,SPACE ENGINEERING,Engineering,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
#As we see it is not saved into our database. To do so, you need to:
conn.commit()

In [54]:
pd.read_sql_query("SELECT * FROM recent_grads ;", conn).tail()

,index,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
169,169.0,170.0,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854.0,7.0,522.0,2332.0,0.817099,...,572.0,1211.0,148.0,0.065112,25000.0,24000.0,34000.0,1488.0,615.0,82.0
170,170.0,171.0,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838.0,13.0,568.0,2270.0,0.799859,...,648.0,1293.0,368.0,0.149048,25000.0,25000.0,40000.0,986.0,870.0,622.0
171,171.0,172.0,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626.0,21.0,931.0,3695.0,0.798746,...,965.0,2738.0,214.0,0.053621,23400.0,19200.0,26000.0,2403.0,1245.0,308.0
172,172.0,173.0,3501,LIBRARY SCIENCE,Education,1098.0,2.0,134.0,964.0,0.877960,...,237.0,410.0,87.0,0.104946,22000.0,20000.0,22000.0,288.0,338.0,192.0
173,NaN,NaN,9000,SPACE ENGINEERING,Engineering,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Updating Rows

In [55]:
cur.execute("UPDATE recent_grads set Rank=200 where MAJOR='SPACE ENGINEERING'")
conn.commit()

In [56]:
# Rank is updated to 200
pd.read_sql_query("SELECT * FROM recent_grads ;", conn).tail()

,index,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
169,169.0,170,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854.0,7.0,522.0,2332.0,0.817099,...,572.0,1211.0,148.0,0.065112,25000.0,24000.0,34000.0,1488.0,615.0,82.0
170,170.0,171,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838.0,13.0,568.0,2270.0,0.799859,...,648.0,1293.0,368.0,0.149048,25000.0,25000.0,40000.0,986.0,870.0,622.0
171,171.0,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626.0,21.0,931.0,3695.0,0.798746,...,965.0,2738.0,214.0,0.053621,23400.0,19200.0,26000.0,2403.0,1245.0,308.0
172,172.0,173,3501,LIBRARY SCIENCE,Education,1098.0,2.0,134.0,964.0,0.877960,...,237.0,410.0,87.0,0.104946,22000.0,20000.0,22000.0,288.0,338.0,192.0
173,NaN,200,9000,SPACE ENGINEERING,Engineering,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Checking if there are other engineering field including "Space"

In [57]:
pd.read_sql_query("SELECT * FROM recent_grads WHERE Major LIKE '%SPACE%'", conn)

,index,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,11.0,12,2401,AEROSPACE ENGINEERING,Engineering,15058.0,147.0,65511.0,16016.0,0.19645,...,2724.0,8790.0,794.0,0.065162,60000.0,42000.0,70000.0,8184.0,2425.0,372.0
1,NaN,200,9000,SPACE ENGINEERING,Engineering,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let's delete that last row

In [58]:
cur.execute("DELETE FROM recent_grads where Major='SPACE ENGINEERING'")
conn.commit()
# let's verify we deleted the last row.

In [59]:
pd.read_sql_query("SELECT * FROM recent_grads", conn).tail()

,index,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
168,168,169,3609,ZOOLOGY,Biology & Life Science,8409,47,3050,5359,0.637293,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,169,170,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854,7,522,2332,0.817099,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,170,171,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838,13,568,2270,0.799859,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,171,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626,21,931,3695,0.798746,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,172,173,3501,LIBRARY SCIENCE,Education,1098,2,134,964,0.877960,...,237,410,87,0.104946,22000,20000,22000,288,338,192

In [60]:
#Showing female percentage in a different column name. So you can modify how your columns look in your output.
pd.read_sql_query("SELECT ShareWomen*100 Female_Percentage FROM recent_grads LIMIT 10", conn)

   Female_Percentage
0          12.056434
1          10.185185
2          15.303738
3          10.731320
4          34.163050
5          14.496697
6          53.571429
7          44.135557
8          13.979280
9          43.784687

# Aggregate Functions

These function provides summaries of a column. For example, you can query about the sum, average, or minimum of a column by calling these functions

In [61]:
# The Major with the highest total number
pd.read_sql_query("SELECT Major, MAX(Total) FROM recent_grads", conn)

        Major  MAX(Total)
0  PSYCHOLOGY      393735

In [62]:
# The Major with the lowest total number
pd.read_sql_query("SELECT Major, MIN(Total) FROM recent_grads", conn)

                   Major  MIN(Total)
0  MILITARY TECHNOLOGIES         124

In [63]:
# count how many major category are in our database
pd.read_sql_query("SELECT Count(Major_category) FROM recent_grads", conn)

   Count(Major_category)
0                    173

In [64]:
# The above includes duplicates too. To address that issue:
pd.read_sql_query("SELECT  Count(DISTINCT Major_category) FROM recent_grads", conn)

   Count(DISTINCT Major_category)
0                              16

In [65]:
# You can also see these 16 major categories by:
pd.read_sql_query("SELECT DISTINCT Major_category FROM recent_grads", conn)

                         Major_category
0                           Engineering
1                              Business
2                     Physical Sciences
3                   Law & Public Policy
4               Computers & Mathematics
5       Agriculture & Natural Resources
6   Industrial Arts & Consumer Services
7                                  Arts
8                                Health
9                        Social Science
10               Biology & Life Science
11                            Education
12            Humanities & Liberal Arts
13             Psychology & Social Work
14          Communications & Journalism
15                    Interdisciplinary

In [66]:
#  return unique pairings of the requested columns
pd.read_sql_query("SELECT DISTINCT Major, Major_category FROM recent_grads LIMIT 5",conn)

                                       Major Major_category
0                      PETROLEUM ENGINEERING    Engineering
1             MINING AND MINERAL ENGINEERING    Engineering
2                  METALLURGICAL ENGINEERING    Engineering
3  NAVAL ARCHITECTURE AND MARINE ENGINEERING    Engineering
4                       CHEMICAL ENGINEERING    Engineering

In [67]:
#  Average Unemployment Rate by Major_category
pd.read_sql_query("SELECT AVG(Unemployment_rate), Major_category FROM recent_grads GROUP BY Major_category",conn)

    AVG(Unemployment_rate)                       Major_category
0                 0.056328      Agriculture & Natural Resources
1                 0.090173                                 Arts
2                 0.060918               Biology & Life Science
3                 0.071064                             Business
4                 0.075538          Communications & Journalism
5                 0.084256              Computers & Mathematics
6                 0.051702                            Education
7                 0.063334                          Engineering
8                 0.065920                               Health
9                 0.081008            Humanities & Liberal Arts
10                0.056083  Industrial Arts & Consumer Services
11                0.070861                    Interdisciplinary
12                0.090805                  Law & Public Policy
13                0.046511                    Physical Sciences
14                0.072065             Psychology & Social Work
15                0.095729                       Social Science

In [68]:
#  You can confirm this by checking average unemployment rate by education, which is the same number as above--0.051702
pd.read_sql_query("SELECT AVG(Unemployment_rate), Major_category FROM recent_grads WHERE Major_category='Education'",conn)

   AVG(Unemployment_rate) Major_category
0                0.051702      Education

In [69]:
pd.read_sql_query("SELECT Major_category, AVG(Unemployed) / AVG(Total) AS share_employed FROM recent_grads GROUP BY Major_category;", conn)

                         Major_category  share_employed
0       Agriculture & Natural Resources        0.047811
1                                  Arts        0.079041
2                Biology & Life Science        0.050355
3                              Business        0.061332
4           Communications & Journalism        0.068395
5               Computers & Mathematics        0.061447
6                             Education        0.044657
7                           Engineering        0.055465
8                                Health        0.047952
9             Humanities & Liberal Arts        0.071623
10  Industrial Arts & Consumer Services        0.050158
11                    Interdisciplinary        0.060914
12                  Law & Public Policy        0.075346
13                    Physical Sciences        0.042485
14             Psychology & Social Work        0.069213
15                       Social Science        0.081090

# Function for making queries

In [70]:
def run_query(q):
    with sqlite3.connect(db) as conn:
        return pd.read_sql(q, conn)

In [71]:
run_query("SELECT * FROM recent_grads WHERE Total >3000")

,index,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
1,6,7,6202,ACTUARIAL SCIENCE,Business,3777,51,832,960,0.535714,...,296,2482,308,0.095652,62000,53000,72000,1768,314,259
2,8,9,2414,MECHANICAL ENGINEERING,Engineering,91227,1029,12953,2105,0.139793,...,13101,54639,4650,0.057342,60000,48000,70000,52844,16384,3253
3,9,10,2408,ELECTRICAL ENGINEERING,Engineering,81527,631,8407,6548,0.437847,...,12695,41413,3895,0.059174,60000,45000,72000,45829,10874,3170
4,10,11,2407,COMPUTER ENGINEERING,Engineering,41542,399,33258,8284,0.199413,...,5146,23621,2275,0.065409,60000,45000,75000,23694,5721,980
5,11,12,2401,AEROSPACE ENGINEERING,Engineering,15058,147,65511,16016,0.196450,...,2724,8790,794,0.065162,60000,42000,70000,8184,2425,372
6,12,13,2404,BIOMEDICAL ENGINEERING,Engineering,14955,79,80320,10907,0.119559,...,2694,5986,1019,0.092084,60000,36000,70000,6439,2471,789
7,13,14,5008,MATERIALS SCIENCE,Engineering,4279,22,2949,1330,0.310820,...,878,1967,78,0.023043,60000,39000,65000,2626,391,81
8,14,15,2409,ENGINEERING MECHANICS PHYSICS AND SCIENCE,Engineering,4321,30,3526,795,0.183985,...,811,2004,23,0.006334,58000,25000,74000,2439,947,263
9,15,16,2402,BIOLOGICAL ENGINEERING,Engineering,8925,55,6062,2863,0.320784,...,1983,3413,589,0.087143,57100,40000,76000,3603,1595,524
10,16,17,2412,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering,18968,183,12453,6515,0.343473,...,2243,11326,699,0.042876,57000,37900,67000,8306,3235,640
11,17,18,2400,GENERAL ENGINEERING,Engineering,61152,425,45683,15469,0.252960,...,7199,33540,2859,0.059824,56000,36000,69000,26898,11734,3192
12,20,21,2102,COMPUTER SCIENCE,Computers & Mathematics,128319,1196,1837,2524,0.578766,...,18726,70932,6884,0.063173,53000,39000,70000,68622,25667,5144
13,21,22,1104,FOOD SCIENCE,Agriculture & Natural Resources,4361,36,99743,28576,0.222695,...,1121,1735,338,0.096931,53000,32000,70000,1183,1274,485
14,22,23,2502,ELECTRICAL ENGINEERING TECHNOLOGY,Engineering,11565,97,2020,973,0.325092,...,1873,5681,824,0.087557,52000,35000,60000,5126,2686,696
15,24,25,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,18713,278,13496,5217,0.278790,...,2420,13017,1015,0.058240,51000,38000,60000,6342,5741,708
16,25,26,2406,CIVIL ENGINEERING,Engineering,53153,565,41081,12072,0.227118,...,10080,29196,3270,0.070610,50000,40000,60000,28526,9356,2899
17,26,27,5601,CONSTRUCTION SERVICES,Industrial Arts & Consumer Services,18498,295,2662,1385,0.342229,...,1751,12313,1042,0.060023,50000,36000,60000,3275,5351,703
18,27,28,6204,OPERATIONS LOGISTICS AND E-COMMERCE,Business,11732,156,488,232,0.322222,...,1183,7724,504,0.047859,50000,40000,60000,1466,3629,285
19,28,29,2499,MISCELLANEOUS ENGINEERING,Engineering,9133,118,7398,1735,0.189970,...,1662,5476,597,0.074393,50000,39000,65000,3445,2426,365
20,29,30,5402,PUBLIC POLICY,Law & Public Policy,5978,55,2695,905,0.251389,...,1306,2776,670,0.128426,50000,35000,70000,1550,1871,340
21,30,31,2410,ENVIRONMENTAL ENGINEERING,Engineering,4047,26,2639,3339,0.558548,...,930,1951,308,0.093589,50000,42000,56000,2028,830,260
22,31,32,2500,ENGINEERING TECHNOLOGIES,Engineering,3600,39,16820,1678,0.090713,...,689,1723,163,0.055030,50000,43000,60000,1017,1269,142
23,32,33,6099,MISCELLANEOUS FINE ARTS,Arts,3340,30,1970,1370,0.410180,...,1067,1200,286,0.089375,50000,25000,66000,693,1714,755
24,34,35,6107,NURSING,Health,209394,2554,21773,187621,0.896019,...,40818,122817,8497,0.044863,48000,39000,58000,151643,26146,6193
25,35,36,6207,FINANCE,Business,174506,2189,89749,49498,0.355469,...,21463,108595,9413,0.060686,47000,35000,64000,24243,48447,9910
26,36,37,5501,ECONOMICS,Social Science,139247,1322,115030,59476,0.340825,...,25325,70740,11452,0.099092,47000,35000,65000,25582,37057,10653
27,37,38,6205,BUSINESS ECONOMICS,Business,13302,199,3477,1154,0.249190,...,1937,8000,1165,0.096448,46000,33000,58000,1578,4612,1284
28,38,39,2503,INDUSTRIAL PRODUCTION TECHNOLOGIES,Engineering,4631,73,528,1588,0.750473,...,597,3242,129,0.028308,46000,35000,65000,1394,2454,480
29,40,41,6201,ACCOUNTING,Business,198633,2042,27392,9306,0.253583,...,27693,123169,12411,0.069749,45000,34000,56000,11417,39323,10886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,139,140,4101,PHYSICAL FITNESS PARKS RECREATION AND LEISURE,Industrial Arts & Consumer Services,125074,1014,2049,4434,0.683943,...,38515,57978,5593,0.051467,32000,24000,43000,27581,63946,16838
115,140,141,3401,LIBERAL ARTS,Humanities & Liberal Arts,71369,569,58227,136446,0.700898,...,19187,33438,4657,0.078268,32000,25000,42000,18565,28558,9030
116,141,142,6005,FILM VIDEO AND PHOTOGRAPHIC ARTS,Arts,38761,331,22339,49030,0.686993,...,12818,15740,3718,0.105772,32000,22000,42000,7368,20721,5862
117,142,143,5500,GENERAL SOCIAL SCIENCES,Social Science,12920,113,62181,62893,0.502846,...,3396,5679,1108,0.103455,32000,27000,50000,3602,4778,1634
118,143,144,1105,PLANT SCIENCE AND AGRONOMY,Agriculture & Natural Resources,7416,110,5079,7841,0.606889,...,1246,4522,314,0.045455,32000,22900,40000,2089,3545,1231
119,144,145,2308,SCIENCE AND COMPUTER TEACHER EDUCATION,Education,6483,59,22357,16404,0.423209,...,1227,3247,266,0.047264,32000,28000,39000,4214,1106,591
120,145,146,5200,PSYCHOLOGY,Psychology & Social Work,393735,2584,86648,307087,0.779933,...,115172,174438,28169,0.083811,31500,24000,41000,125148,141860,48207
121,146,147,6002,MUSIC,Arts,60633,419,15670,12543,0.444582,...,24943,21425,3918,0.075960,31000,22300,42000,13752,28786,9286
122,147,148,2306,PHYSICAL AND HEALTH EDUCATION TEACHING,Education,28213,259,29909,30724,0.506721,...,7230,13651,1920,0.074667,31000,24000,40000,12777,9328,2042
123,148,149,6006,ART HISTORY AND CRITICISM,Humanities & Liberal Arts,21030,204,3240,17790,0.845934,...,6140,9965,1128,0.060298,31000,23000,40000,5139,9738,3426
124,149,150,6000,FINE ARTS,Arts,74440,623,24786,49654,0.667034,...,23656,31877,5486,0.084186,30500,21000,41000,20792,32725,11880
125,150,151,2901,FAMILY AND CONSUMER SCIENCES,Industrial Arts & Consumer Services,58001,518,5347,16226,0.752144,...,15872,26906,3355,0.067128,30000,22900,40000,20985,20133,5248
126,151,152,5404,SOCIAL WORK,Psychology & Social Work,53552,374,2734,11709,0.810704,...,13481,27588,3329,0.068828,30000,25000,35000,27449,14416,4344
127,152,153,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,21573,255,5166,52835,0.910933,...,5353,10824,917,0.050862,30000,22000,40000,5443,9571,2125
128,153,154,6003,VISUAL AND PERFORMING ARTS,Arts,16250,132,2013,4639,0.697384,...,6253,6322,1465,0.102197,30000,22000,40000,3849,7635,2840
129,154,155,2312,TEACHER EDUCATION: MULTIPLE LEVELS,Education,14443,142,1936,7692,0.798920,...,2214,8457,496,0.036546,30000,24000,37000,10766,1949,722
130,155,156,5299,MISCELLANEOUS PSYCHOLOGY,Psychology & Social Work,9628,60,885,8489,0.905590,...,3221,3838,419,0.051908,30000,20800,40000,2960,3948,1650
131,156,157,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,Psychology & Social Work,9374,89,5137,48415,0.904075,...,2405,5061,326,0.037819,30000,24000,35000,2878,4595,724
132,157,158,3402,HUMANITIES,Humanities & Liberal Arts,6652,49,4133,12117,0.745662,...,2225,2661,372,0.068584,30000,20000,49000,1168,3354,1141
133,158,159,4901,THEOLOGY AND RELIGIOUS VOCATIONS,Humanities & Liberal Arts,30207,310,404,1084,0.728495,...,8767,13944,1617,0.062628,29000,22000,38000,9927,12037,3304
134,159,160,6007,STUDIO ARTS,Arts,16977,182,4364,6146,0.584776,...,5673,7413,1368,0.089552,29000,19200,38300,3948,8707,3586
135,160,161,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,10510,117,18616,11591,0.383719,...,2064,5949,510,0.055677,29000,20000,36000,563,7384,3163
136,162,163,5502,ANTHROPOLOGY AND ARCHEOLOGY,Humanities & Liberal Arts,38844,247,1167,36422,0.968954,...,14515,13232,3395,0.102792,28000,20000,38000,9805,16693,6866
137,163,164,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,Health,38279,95,11376,27468,0.707136,...,13862,14460,1487,0.047584,28000,20000,40000,19957,9404,5125
138,164,165,2307,EARLY CHILDHOOD EDUCATION,Education,37589,342,1225,37054,0.967998,...,7001,20748,1360,0.040105,28000,21000,35000,23515,7705,2868
139,165,166,2603,OTHER FOREIGN LANGUAGES,Humanities & Liberal Arts,11204,56,3472,7732,0.690111,...,3685,3214,846,0.107116,27500,22900,38000,2326,3703,1115
140,166,167,6001,DRAMA AND THEATER ARTS,Arts,43249,357,7022,11931,0.629505,...,15994,16891,3040,0.077541,27000,19200,35000,6994,25313,11068
141,167,168,3302,COMPOSITION AND RHETORIC,Humanities & Liberal Arts,18953,151,14440,28809,0.666119,...,6612,7832,1340,0.081742,27000,20000,35000,4855,8100,3466
142,168,169,3609,ZOOLOGY,Biology & Life Science,8409,47,3050,5359,0.637293,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
143,171,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626,21,931,3695,0.798746,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308

#Create a  function that returns a list of all tables in the database.

In [76]:
def all_tables():
    q = '''
    SELECT
        name,
        type
    FROM sqlite_master
    WHERE type IN ("table","view");
    '''
    return run_query(q)

all_tables()

           name   type
0  recent_grads  table

We have only one table and this is why it produced one row.

# Creating tables

In [77]:
# We will create some madeup table and save into our database.
cur.execute("CREATE TABLE students (id integer, Name text, Address text, GPA float)")
conn.commit()

In [78]:
# see if our new table is in the database.
all_tables()

           name   type
0  recent_grads  table
1      students  table

In [79]:
cur.execute("INSERT INTO students values (1000, 'Joe Roley', '426 Jordy Lodge Cartwrightshire, SC 88120-6700', '3.5')")
conn.commit()

In [80]:
pd.read_sql_query("SELECT * FROM students", conn)

     id       Name                                         Address  GPA
0  1000  Joe Roley  426 Jordy Lodge Cartwrightshire, SC 88120-6700  3.5

One row is not ideal so let;s populate this table with more information. We will use fake dataset creator from https://github.com/joke2k/faker

In [81]:
from faker import Faker
fake = Faker()

In [82]:
#Creating fake 1000 students
name=[]
for i in range(0,1000):
    name.append(fake.name())
name[0:5]

['Charles Martin', 'Julia Cruz', 'John White', 'Leah Blackwell', 'Debra Ortiz']

In [83]:
# Creating fake 1000 GPAs
gpa=[]
for i in range(0,1000):
    gpa.append(round(random.uniform(2.5, 4.0),2))
gpa[0:5]

[2.89, 3.39, 3.28, 3.11, 3.06]

In [84]:
# Creating fake 1000 Addresses
addr=[]
for i in range(0,1000):
    addr.append(fake.address())
addr[0:5]

['PSC 6086, Box 2416\nAPO AP 17669',
 'USNS Kaufman\nFPO AA 57664-8094',
 '67973 Dunn Trace\nRobertmouth, GA 44824-0577',
 '0711 Susan Path Apt. 441\nNorth Kellyton, PA 44307-0926',
 '9405 Jackson Land\nWest Michaelburgh, WY 32171']

In [85]:
# Creating 1000 student ID
ids=[]
for i in range(1000,2000):
    ids.append(i)
ids[0:5]

[1000, 1001, 1002, 1003, 1004]

In [86]:
data_tuples = list(zip(ids, name, addr, gpa))
st_df=pd.DataFrame(data_tuples, columns=['id', 'Name', 'Address', 'GPA'])
st_df.shape

(1000, 4)

Writing to our database using pandas

In [87]:
st_df.to_sql("students", conn, if_exists="replace")
conn.commit()

In [88]:
pd.read_sql_query("SELECT * FROM students", conn).head()

,index,id,Name,Address,GPA
0,0,1000,Charles Martin,"PSC 6086, Box 2416\nAPO AP 17669",2.89
1,1,1001,Julia Cruz,USNS Kaufman\nFPO AA 57664-8094,3.39
2,2,1002,John White,"67973 Dunn Trace\nRobertmouth, GA 44824-0577",3.28
3,3,1003,Leah Blackwell,"0711 Susan Path Apt. 441\nNorth Kellyton, PA 4...",3.11
4,4,1004,Debra Ortiz,"9405 Jackson Land\nWest Michaelburgh, WY 32171",3.06

Lastly, we can add a column into database. We will use this column in JOIN operations

Usually we would add column to our table with:
    
cur.execute("ALTER TABLE students ADD COLUMN  Major_category text;")

but this will create a column with None values. Instead, we create our column with information in it and then save to sqlite.

In [89]:
#Let's get the major categories from student dataframe
maj_cat=df.Major_category.value_counts().index.tolist()
maj_cat

['Engineering',
 'Education',
 'Humanities & Liberal Arts',
 'Biology & Life Science',
 'Business',
 'Health',
 'Computers & Mathematics',
 'Agriculture & Natural Resources',
 'Physical Sciences',
 'Social Science',
 'Psychology & Social Work',
 'Arts',
 'Industrial Arts & Consumer Services',
 'Law & Public Policy',
 'Communications & Journalism',
 'Interdisciplinary']

In [90]:
for x in st_df.index.values:
    st_df.set_value(x,'Major_category',random.choice(maj_cat))
st_df.head()

C:\Users\Turgut\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,id,Name,Address,GPA,Major_category
0,1000,Charles Martin,"PSC 6086, Box 2416\nAPO AP 17669",2.89,Computers & Mathematics
1,1001,Julia Cruz,USNS Kaufman\nFPO AA 57664-8094,3.39,Computers & Mathematics
2,1002,John White,"67973 Dunn Trace\nRobertmouth, GA 44824-0577",3.28,Humanities & Liberal Arts
3,1003,Leah Blackwell,"0711 Susan Path Apt. 441\nNorth Kellyton, PA 4...",3.11,Social Science
4,1004,Debra Ortiz,"9405 Jackson Land\nWest Michaelburgh, WY 32171",3.06,Business

In [91]:
st_df.to_sql("students", conn, if_exists="replace")
conn.commit()

In [92]:
pd.read_sql_query("SELECT * FROM students", conn).head()

,index,id,Name,Address,GPA,Major_category
0,0,1000,Charles Martin,"PSC 6086, Box 2416\nAPO AP 17669",2.89,Computers & Mathematics
1,1,1001,Julia Cruz,USNS Kaufman\nFPO AA 57664-8094,3.39,Computers & Mathematics
2,2,1002,John White,"67973 Dunn Trace\nRobertmouth, GA 44824-0577",3.28,Humanities & Liberal Arts
3,3,1003,Leah Blackwell,"0711 Susan Path Apt. 441\nNorth Kellyton, PA 4...",3.11,Social Science
4,4,1004,Debra Ortiz,"9405 Jackson Land\nWest Michaelburgh, WY 32171",3.06,Business

In [30]:
#Dropping a table
cur.execute("DROP TABLE students")
conn.commit()

In [95]:
pd.read_sql_query("SELECT *,(SELECT COUNT(*) FROM recent_grads) FROM recent_grads WHERE ShareWomen > (SELECT AVG(ShareWomen) FROM recent_grads)", conn)

,index,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,...,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs,(SELECT COUNT(*) FROM recent_grads)
0,6,7,6202,ACTUARIAL SCIENCE,Business,3777,51,832,960,0.535714,...,2482,308,0.095652,62000,53000,72000,1768,314,259,173
1,20,21,2102,COMPUTER SCIENCE,Computers & Mathematics,128319,1196,1837,2524,0.578766,...,70932,6884,0.063173,53000,39000,70000,68622,25667,5144,173
2,30,31,2410,ENVIRONMENTAL ENGINEERING,Engineering,4047,26,2639,3339,0.558548,...,1951,308,0.093589,50000,42000,56000,2028,830,260,173
3,34,35,6107,NURSING,Health,209394,2554,21773,187621,0.896019,...,122817,8497,0.044863,48000,39000,58000,151643,26146,6193,173
4,38,39,2503,INDUSTRIAL PRODUCTION TECHNOLOGIES,Engineering,4631,73,528,1588,0.750473,...,3242,129,0.028308,46000,35000,65000,1394,2454,480,173
5,42,43,2100,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics,36698,425,515,1247,0.707719,...,21130,2934,0.093460,45000,30000,60000,13344,11783,1672,173
6,45,46,2105,INFORMATION SCIENCES,Computers & Mathematics,11913,158,2960,3291,0.526476,...,7378,639,0.060741,45000,32500,58000,4390,4102,608,173
7,47,48,3701,APPLIED MATHEMATICS,Computers & Mathematics,4939,45,3916,11998,0.753927,...,2593,385,0.090823,45000,34000,63000,2437,803,357,173
8,48,49,3607,PHARMACOLOGY,Biology & Life Science,1762,3,94519,104114,0.524153,...,565,107,0.085532,45000,40000,45000,603,478,93,173
9,49,50,5006,OCEANOGRAPHY,Physical Sciences,2418,36,752,1666,0.688999,...,1595,99,0.056995,44700,23000,50000,459,996,186,173
10,52,53,4005,MATHEMATICS AND COMPUTER SCIENCE,Computers & Mathematics,609,7,803,10320,0.927807,...,391,0,0.000000,42000,30000,78000,452,67,25,173
11,54,55,4006,COGNITIVE SCIENCE AND BIOPSYCHOLOGY,Biology & Life Science,3831,25,119,699,0.854523,...,1584,223,0.075236,41000,20000,60000,1369,921,135,173
12,55,56,2303,SCHOOL STUDENT COUNSELING,Education,818,4,1667,2164,0.564866,...,545,88,0.107579,41000,41000,43000,509,221,0,173
13,56,57,5505,INTERNATIONAL RELATIONS,Social Science,28187,219,10345,17842,0.632987,...,13583,2271,0.096799,40100,31200,53000,6774,9570,2499,173
14,63,64,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,14240,273,7426,10874,0.594208,...,9093,649,0.050031,40000,25000,50000,1925,6221,1362,173
15,67,68,3605,GENETICS,Biology & Life Science,3635,11,1075,1939,0.643331,...,1487,87,0.034118,40000,34000,45000,1675,678,201,173
16,68,69,5599,MISCELLANEOUS SOCIAL SCIENCES,Social Science,3283,28,1499,1784,0.543405,...,1530,215,0.073080,40000,30000,54000,744,1654,573,173
17,69,70,6403,UNITED STATES HISTORY,Humanities & Liberal Arts,3079,22,8697,14854,0.630716,...,1274,138,0.047179,40000,30000,42000,801,1591,302,173
18,71,72,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,2439,44,10624,15270,0.589712,...,1528,182,0.077250,40000,27000,54000,535,893,94,173
19,76,77,6203,BUSINESS MANAGEMENT AND ADMINISTRATION,Business,329927,4212,6383,8849,0.580948,...,199897,21502,0.072218,38000,29000,50000,36720,148395,32395,173
20,80,81,3606,MICROBIOLOGY,Biology & Life Science,15232,62,78857,126354,0.615727,...,5080,693,0.066776,38000,29600,50000,5577,3174,1246,173
21,83,84,3602,BOTANY,Biology & Life Science,1329,9,626,703,0.528969,...,740,0,0.000000,37000,26000,40000,677,184,56,173
22,86,87,6209,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,Business,24497,264,4435,9093,0.672161,...,15446,1315,0.059570,36000,28000,45000,2406,9629,1906,173
23,87,88,3202,PRE-LAW AND LEGAL STUDIES,Law & Public Policy,13528,92,809,1169,0.591001,...,5370,757,0.071965,36000,29200,46000,2002,6454,1336,173
24,88,89,6199,MISCELLANEOUS HEALTH MEDICAL PROFESSIONS,Health,13386,81,413,973,0.702020,...,5868,893,0.081411,36000,23000,42000,5652,3835,1422,173
25,90,91,5005,GEOSCIENCES,Physical Sciences,1978,18,1589,11797,0.881294,...,1011,36,0.024374,36000,21000,41000,784,591,221,173
26,91,92,5206,SOCIAL PSYCHOLOGY,Psychology & Social Work,1386,8,6184,18313,0.747561,...,529,33,0.029650,36000,34000,45000,434,593,37,173
27,92,93,1301,ENVIRONMENTAL SCIENCE,Biology & Life Science,25965,225,10787,15178,0.584556,...,10916,1779,0.078585,35600,25000,40200,8149,10076,3175,173
28,96,97,1902,JOURNALISM,Communications & Journalism,72619,843,8739,22456,0.719859,...,39524,4535,0.069176,35000,26000,42900,23279,26672,8512,173
29,97,98,5098,MULTI-DISCIPLINARY OR GENERAL SCIENCE,Physical Sciences,62052,427,70619,143377,0.669999,...,28966,2727,0.055807,35000,24000,50000,17923,22039,5751,173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,138,139,2304,ELEMENTARY EDUCATION,Education,170862,1629,13029,157833,0.923745,...,86540,7297,0.046586,32000,23400,38000,108085,36972,11502,173
62,139,140,4101,PHYSICAL FITNESS PARKS RECREATION AND LEISURE,Industrial Arts & Consumer Services,125074,1014,2049,4434,0.683943,...,57978,5593,0.051467,32000,24000,43000,27581,63946,16838,173
63,140,141,3401,LIBERAL ARTS,Humanities & Liberal Arts,71369,569,58227,136446,0.700898,...,33438,4657,0.078268,32000,25000,42000,18565,28558,9030,173
64,141,142,6005,FILM VIDEO AND PHOTOGRAPHIC ARTS,Arts,38761,331,22339,49030,0.686993,...,15740,3718,0.105772,32000,22000,42000,7368,20721,5862,173
65,143,144,1105,PLANT SCIENCE AND AGRONOMY,Agriculture & Natural Resources,7416,110,5079,7841,0.606889,...,4522,314,0.045455,32000,22900,40000,2089,3545,1231,173
66,145,146,5200,PSYCHOLOGY,Psychology & Social Work,393735,2584,86648,307087,0.779933,...,174438,28169,0.083811,31500,24000,41000,125148,141860,48207,173
67,148,149,6006,ART HISTORY AND CRITICISM,Humanities & Liberal Arts,21030,204,3240,17790,0.845934,...,9965,1128,0.060298,31000,23000,40000,5139,9738,3426,173
68,149,150,6000,FINE ARTS,Arts,74440,623,24786,49654,0.667034,...,31877,5486,0.084186,30500,21000,41000,20792,32725,11880,173
69,150,151,2901,FAMILY AND CONSUMER SCIENCES,Industrial Arts & Consumer Services,58001,518,5347,16226,0.752144,...,26906,3355,0.067128,30000,22900,40000,20985,20133,5248,173
70,151,152,5404,SOCIAL WORK,Psychology & Social Work,53552,374,2734,11709,0.810704,...,27588,3329,0.068828,30000,25000,35000,27449,14416,4344,173
71,152,153,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,21573,255,5166,52835,0.910933,...,10824,917,0.050862,30000,22000,40000,5443,9571,2125,173
72,153,154,6003,VISUAL AND PERFORMING ARTS,Arts,16250,132,2013,4639,0.697384,...,6322,1465,0.102197,30000,22000,40000,3849,7635,2840,173
73,154,155,2312,TEACHER EDUCATION: MULTIPLE LEVELS,Education,14443,142,1936,7692,0.798920,...,8457,496,0.036546,30000,24000,37000,10766,1949,722,173
74,155,156,5299,MISCELLANEOUS PSYCHOLOGY,Psychology & Social Work,9628,60,885,8489,0.905590,...,3838,419,0.051908,30000,20800,40000,2960,3948,1650,173
75,156,157,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,Psychology & Social Work,9374,89,5137,48415,0.904075,...,5061,326,0.037819,30000,24000,35000,2878,4595,724,173
76,157,158,3402,HUMANITIES,Humanities & Liberal Arts,6652,49,4133,12117,0.745662,...,2661,372,0.068584,30000,20000,49000,1168,3354,1141,173
77,158,159,4901,THEOLOGY AND RELIGIOUS VOCATIONS,Humanities & Liberal Arts,30207,310,404,1084,0.728495,...,13944,1617,0.062628,29000,22000,38000,9927,12037,3304,173
78,159,160,6007,STUDIO ARTS,Arts,16977,182,4364,6146,0.584776,...,7413,1368,0.089552,29000,19200,38300,3948,8707,3586,173
79,161,162,1199,MISCELLANEOUS AGRICULTURE,Agriculture & Natural Resources,1488,24,4754,12223,0.719974,...,936,82,0.059767,29000,23000,42100,483,626,31,173
80,162,163,5502,ANTHROPOLOGY AND ARCHEOLOGY,Humanities & Liberal Arts,38844,247,1167,36422,0.968954,...,13232,3395,0.102792,28000,20000,38000,9805,16693,6866,173
81,163,164,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,Health,38279,95,11376,27468,0.707136,...,14460,1487,0.047584,28000,20000,40000,19957,9404,5125,173
82,164,165,2307,EARLY CHILDHOOD EDUCATION,Education,37589,342,1225,37054,0.967998,...,20748,1360,0.040105,28000,21000,35000,23515,7705,2868,173
83,165,166,2603,OTHER FOREIGN LANGUAGES,Humanities & Liberal Arts,11204,56,3472,7732,0.690111,...,3214,846,0.107116,27500,22900,38000,2326,3703,1115,173
84,166,167,6001,DRAMA AND THEATER ARTS,Arts,43249,357,7022,11931,0.629505,...,16891,3040,0.077541,27000,19200,35000,6994,25313,11068,173
85,167,168,3302,COMPOSITION AND RHETORIC,Humanities & Liberal Arts,18953,151,14440,28809,0.666119,...,7832,1340,0.081742,27000,20000,35000,4855,8100,3466,173
86,168,169,3609,ZOOLOGY,Biology & Life Science,8409,47,3050,5359,0.637293,...,3602,304,0.046320,26000,20000,39000,2771,2947,743,173
87,169,170,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854,7,522,2332,0.817099,...,1211,148,0.065112,25000,24000,34000,1488,615,82,173
88,170,171,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838,13,568,2270,0.799859,...,1293,368,0.149048,25000,25000,40000,986,870,622,173
89,171,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626,21,931,3695,0.798746,...,2738,214,0.053621,23400,19200,26000,2403,1245,308,173
90,172,173,3501,LIBRARY SCIENCE,Education,1098,2,134,964,0.877960,...,410,87,0.104946,22000,20000,22000,288,338,192,173

In [96]:
# If we want the number of rows of the above query
pd.read_sql_query("SELECT COUNT(*) FROM recent_grads WHERE ShareWomen > (SELECT AVG(ShareWomen) FROM recent_grads)", conn)

   COUNT(*)
0        91

In [ ]:

SELECT CAST(COUNT(*) as float)/CAST((SELECT COUNT(*) from recent_grads) as float) proportion_abv_avg from recent_grads
WHERE ShareWomen > 
(SELECT AVG(ShareWomen) from recent_grads)

In [116]:
# If we want the proportion of cases complying above query:
pd.read_sql_query("SELECT CAST(COUNT(*) AS FLOAT) / CAST((SELECT COUNT(*) FROM recent_grads) AS FLOAT) PROPORTION FROM recent_grads WHERE ShareWomen > (SELECT AVG(ShareWomen) FROM recent_grads)", conn)

   PROPORTION
0    0.526012

Using Operators

In [125]:
pd.read_sql_query("SELECT Major, Major_category FROM recent_grads WHERE Major_category IN ('Arts', 'Social Science') LIMIT 3", conn)

                     Major  Major_category
0  MISCELLANEOUS FINE ARTS            Arts
1                ECONOMICS  Social Science
2  INTERNATIONAL RELATIONS  Social Science

In [137]:
#Reordering major categories based on total column in descending manner.
pd.read_sql_query("SELECT Major_category FROM recent_grads GROUP BY Major_category ORDER BY SUM(Total) DESC", conn)

                         Major_category
0                              Business
1             Humanities & Liberal Arts
2                             Education
3                           Engineering
4                        Social Science
5              Psychology & Social Work
6                                Health
7                Biology & Life Science
8           Communications & Journalism
9                                  Arts
10              Computers & Mathematics
11  Industrial Arts & Consumer Services
12                    Physical Sciences
13                  Law & Public Policy
14      Agriculture & Natural Resources
15                    Interdisciplinary